.brilhoAoPassarMouse {
    width: 220px; /* Atributo para definir largura*/
    height: 50px; /* Atributo para definir altura*/
    border: none; /* Atributo para remover a borda embutida no button*/
    background: #111; /*Cor de fundo do button*/
    cursor: pointer; /*Atributo para deixar o cursor do mouse com a mãozinha*/
    position: relative; /*...*/
    z-index: 0; /*Atributo para deixar na frente do backgroud e atrás do iniciar partida*/
    border-radius: 10px; /*Atributo para deixar a borda arredondada*/
    font-family: league; /*Atributo utilizado na fonte do iniciar partida*/
    color: white;
}

.brilhoAoPassarMouse:hover:after  {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: brilho 20s linear infinite;
    opacity: 1;
}

@keyframes brilho {
      30%  { background-position: 200% 0; }
}