body {
  text-align: center;
  background-color: black;
  color: white;
}

.imagem1{
  border-radius: 10px;
  width: 430px;
  height: 430px;
}

.botaoJogador{
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 80px;
  color: #fff;
  border-style: solid !important;
}

a{
  color: white;
}

div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
