body{
    background-image:url(/img/TelaInicial.jpg) ;
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: cover;
}

h1{
    font-family: league;
    text-align: center;
    font-size: 450%;
    background: linear-gradient(90deg, rgb(136, 130, 80) 0%, rgb(232, 238, 59) 35%, rgb(204, 204, 25) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4{
    text-align: center;
    font-family: league;
    font-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a{
    color: white;
}

.alinharBotaoCentro{
    display: flex;
    justify-content: center;
}

