body{
    background-image: url(../../img/fase2hei.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: cover;
    color: white;
}
h1{
    text-align: center;
    margin-top: 80;
}
.botaoJogador{
    margin-left: 20%;
    margin-right:20%;
    margin-top: 150px;
    background-color: black;
    color: #fff;
    border: radius 10px;;
    border-color: rgb(242, 242, 245);  
    border-style: double !important;
    cursor: pointer;
}
a{
    color: #fff;
}
div{
    display: flex;
}