body{
    background-image: url(/img/resilia.jpg);
    background-repeat: no-repeat;
    height: 800px;
    background-position: center;
    background-size: cover;
    color: white;
}
h1{
    text-align: center;
    margin-top: 80;
}
h2{
    text-align: center;
}
.botaoJogador{
    margin-left: 43%;
    margin-right:42%;
    margin-top: 80px;
    background-color: black;
    color: #fff;
    border: radius 10px;;
    border-color: rgb(242, 242, 245);  
    border-style: double !important;
    cursor: pointer;
}