body{
    background-image:url(../../img/resilia.jpg);
    background-repeat: no-repeat;
    height: 560px;
    background-position: center;
    background-size: cover;
    color: white;
    width: 1200px;

}
.texto{
    text-align: center;
    font-family: league;
    font-size: 200%;
}
.botaoJogador{
    margin-left: 43%;
    margin-right:42%;
    background-color: black;
    color: #fff;
    border: radius 10px;;
    border-color: rgb(242, 242, 245);  
    border-style: double !important;
    cursor: pointer;
}
h1{
    text-align: center;
    font-family: league;
}
h2{
    text-align: center;
    font-family: league;
    
}