  body{
     background-image: url(../../img/fase3Tristana.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     color:white;
     text-align: center;
     height: 560px;
     font-family: league;
     display: flex;
     flex-direction: column;
     text-align: center;
         
   }
     
  .botaoJogador{
      display: flex I !important;
      flex-direction: row !important;
      margin-left: 20%;
      margin-right:20%;
      margin-top:5px;
      background-color: black;
      color: #fff;
      border: radius 10px;;
      border-color: rgb(242, 242, 245);  
      border-style: double !important;
      cursor: pointer;
   }
  
   .brilhoAoPassarMouse {
      width: 10px; /* Atributo para definir largura*/
      height: 10px; /* Atributo para definir altura*/
    }
    
    a{
      color: white;
    }

    div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 300px;

      }
     