body {
  background-image: url(/img/fase1Tristana.jpg);
  background-position: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  color:rgb(0, 0, 0);
  text-align: center;
  height: 580px;
  font-family:league;
}

.imagem1{
  border-radius: 10px;
  width: 430px;
  height: 430px;
}

.botaoJogador{
  margin-top: 150px;
  margin-left: 80px;
  margin-right: 80px;
  color: #fff;
  border-style: solid !important;
}

a{
  color: white;
}

div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1{
  width: 600px;
}
